<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zijin.dong.mapper.AreaMapper">

    <resultMap id="BaseResultMap" type="com.zijin.dong.entity.Area">
            <id property="rid" column="rid" jdbcType="INTEGER"/>
            <result property="area_name" column="area_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid,area_name
    </sql>
</mapper>
