<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zijin.dong.mapper.UserPowerMapper">

    <resultMap id="BaseResultMap" type="com.zijin.dong.entity.UserPower">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="power" column="power" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,power
    </sql>
</mapper>
